django
djangorestframework
Pillow
django-filter
djangorestframework
djangorestframework-jsonapi
django-spinproject
django-simplestatic
django-cors-headers
django-suit
django-grappelli
adminlte-django
bcrypt
uvicorn
gunicorn